[Unit]
Description=3CX Busylight Monitor
After=network.target

[Service]
ExecStart=/home/PDSS/3CX-licht/busylight-venv/bin/python3 /usr/local/bin/licht.py
Restart=always
User=PDSS

[Install]
WantedBy=multi-user.target
